@{
    ViewData["Title"] = "Home Page";
}
@model AbstractionProvider.Models.Sport

<div class="">

    @foreach(var sportEvent in Model.Events)
    {

        <div id="event_@sportEvent.ExternalID" class="panel-group col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Event: @sportEvent.Name <span style="background-color: green; color: white;">@(sportEvent.IsLive ? "- LIVE" : "")</span></div>
                <div class="panel-body">
                    @foreach(var match in sportEvent.Matches)
                    {
                        <div id="match_@match.ExternalID" class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Match Name: @match.Name Match type: @match.MatchType Starts At: @match.StartDate.ToString("G")</div>
                                <div class="panel-body">
                                    @foreach(var bet in match.Bets)
                                    {

                                        <div id="bet_@bet.ExternalID" class="panel-group">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Bet Name: @bet.Name <span style="background-color: green; color: white;">@(bet.IsLive ? " - LIVE" : "")</span></div>
                                                <div class="panel-body">
                                                    @foreach(var odd in bet.Odds)
                                                    {
                                                        <div id="odd_@odd.ExternalID" class="panel-group col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading">Odd Name: @odd.Name</div>
                                                                <div class="panel-body">
                                                                    Value: @odd.Value Special Value: @odd.SpecialBetValue
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    }
    
    
</div>


