@{
    ViewData["Title"] = "Home Page";
}
@model AbstractionProvider.Models.Sport

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
    @foreach (var sportEvent in Model.Events) {
        
        <ul id="event_@sportEvent.ExternalID" class="list-group">
            <li class="list-group-item">Event: @sportEvent.Name <span style="background-color: green; color: white;">@(sportEvent.IsLive ? "- LIVE" : "")</span></li>
            
            <li class="list-group-item">
                
                @foreach (var match in sportEvent.Matches) {

                    <ul class="list-group" id="match_@match.ExternalID">
                        <li class="list-group-item">Match Name: @match.Name</li>
                        <li class="list-group-item">Starts At: @match.StartDate.ToString("G")</li>
                        <li class="list-group-item">Match type: @match.MatchType</li>

                        <li class="list-group-item">

                            @foreach (var bet in match.Bets) {

                                <ul class="list-group" id="bet_@bet.ExternalID">
                                    <li class="list-group-item">Name: @bet.Name <span style="background-color: green; color: white;">@(bet.IsLive ? " - LIVE" : "")</span></li>

                                    <li class="list-group-item">
                                        <ul class="list-group">
                                            @foreach (var odd in bet.Odds) {
                                                <li class="list-group-item" id="odd_@odd.ExternalID">Name: @odd.Name Value: @odd.Value Special Value: @odd.SpecialBetValue</li>

                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                }
            </li>
            
        </ul>
        
    }

</div>


